.heading{
    text-align: center;
    margin-top: 3rem;
    color: gray;
    padding-left: 7rem;
}
.cards{
    width: 180px;
    height: 180px;

    background-color:burlywood;
    /* text-align: center; */
    /* margin: auto; */
  
}
.contain{
    display: flex;
    flex-direction: column;
    gap: 7;
}
.free{
    margin-top: 3px;
    font-size: medium;
    font: bold;
}
.details{
    margin-top: 4px;
    padding-top: 4px;
}
.symbol{
    color: green;
    font: bold;
    font-size: 1.4rem;
}
.button{
    text-align: center;
    width: 90px;
    font: 600;
    padding-left: 4px;
    background-color:chocolate;
}
.main{
    display: flex;
    /* gap: 12; */
    
 justify-content: space-around; 
     padding-right: 20rem; 
    
}
.borders{
    border-left: 1px solid black;
    padding-left: 0.3rem
}
.silver{
    border-right: 1px solid black;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  